
 page-needing {    
    
  .ion-button,button{
    background-color:#127bca;
   
 } 
  

 .caselist{
   background-color: white;
 }      

  .item {
    margin-top:0;  
   
    color:black; 
    padding: 10px;
    }

   .ion-navbar{        
    margin: 10px;
    }

               
     img{

     border-radius: 100px;
       height: 35px;
       width: 35px;
                         
     }

     
      ion-icon{
       color: white;     
      
     }

  h2{
    color:black;
     }
    
   
   

        
 }
