
 <ion-header>

  <ion-navbar color="primary"> 
   <ion-title >حاجات متبرع بها</ion-title>
   
        <ion-buttons end>
          <button  ion-button color="light"  (click)="goToAdd()">
            <img src="./assets/imgs/add5.png">
          </button>
        </ion-buttons>
          
  </ion-navbar>
 </ion-header>


   
     
      <ion-content >
             
   
        <div *ngFor="let item of items   | async json">
          <ion-item *ngIf="item.hide == 0" >
            <ion-avatar item-start>
              <img src="./assets/imgs/about3.png">
            </ion-avatar>
            <h2 style="text-align:center">{{item.firstname}}</h2>
            <button ion-button 
            *ngIf="userid == item.addBy"
             (click)="deleteMy(item.key)" block style="background-color:red">حذف</button>
            <button ion-button style="float:left"
             (click)="itemSelected(item.key,item.firstname,item.lastname,
             item.address,item.phone,item.infor)" block >التفاصيل</button >
          </ion-item>
        </div>

   </ion-content>
  